// Colors
$grey: #333333;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$light-color: #aaa;


//sign up form

$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;
