#dummy{

  border: 6px solid #e6e6e6;
  height: 100vh;
  width: 100%;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items:  center;

}

#dummy_title{
  color: black;
}
