#group-page-image{
  height: 10rem;
  width: 10rem;
  border-radius: 10%;
  background-color: black;
}

#group-page-header{
  margin-top: 1rem;
}

#send-permission-request{
  background-color: hotpink;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px
}
