#group-page-image{
  height: 10rem;
  width: 10rem;
  border-radius: 10%;
  background-color: black;
}

#group-page-header{
  margin-top: 1rem;
}

#join-group-layout{
  display: flex;
  flex-flow: column nowrap;
  width: 15rem;
}

#send-permission-request-button{
  background-color: hotpink;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  width: 8rem;
  margin: 0 auto;
  margin-top: 1rem;
}

#label-join-group{
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: black;
  font-size: 1.5rem;
}

#text-join-group{
  color: black;
}
