#home_nav {
     background-color: red;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     width: 100%;
     padding: 1rem 0;
 }

.btn_nav{
   padding: 0 5px;
   height:inherit;
   background-color: inherit;
   border: 0;
   color: white;
 }
